.name {
	font-size: 24px;
	float: left;
	margin: 0 0 0 50px;
	position: absolute;
}

.border1 {
	color: black;
	border-top: 0.1px solid black;
	width: 850px;
	border-style: solid;
	margin: 75px 0 0 50px;
	position: absolute;
}

.border2 {
	color: black;
	border-top: 0.1px solid black;
	width: 850px;
	border-style: solid;
	margin: 0px 0 0 50px;
	position: absolute;
}

.contact {
	float: right;
	margin: 0 50px 0 0;
}

.border {
	width: 960px;
	height: 1000px;
	margin: 0 0 0 220px;
	overflow: hidden;
	background-color: gray;
}

h2 {
	text-align: center;
}

.goals {
	margin: 100px 0 0 0;
	text-align: center;
}